{{ ansible_managed | comment }}
[Unit]
Description=Velociraptor EDR
After=network.target

[Service]
Type=simple
ExecStart={{ velociraptor_dir }}/velociraptor --config {{ velociraptor_config_dir }}/client.config.yaml client -v
WorkingDirectory={{ velociraptor_dir }}
Restart=always
RestartSec=10
SyslogIdentifier=velociraptor
User=root
Group=nogroup
PrivateTmp=false

[Install]
WantedBy=multi-user.target
